

.image-box{
    height: 100vh;
    position:relative;
    background-color: #202523;
}

.contact-data{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%,-50%);
}

.data{
    margin-top: 1em;
}
.form-box{
    height: 100vh;
    background-color: #000000;

}
.form{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}
.form-field {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.9em;
    height: 3em;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
}
.text-area{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.9em;
    height: 7em;
    border-radius: 10px;
    border: none;
    background-color:white;
    color: black;
}
.contact-btn{
    margin-top: 1em;
    background-color:whitesmoke ;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-radius: 5px;
    height: 2em;
    border: none;
}
.contact-btn:hover{
    background-color: rgb(61, 238, 61);
    transition: 0.5s;
}

@media (max-width:990px) {
    .image-box{
        height: 60vh;
    }
    .image-box{
        border-bottom-left-radius: 0px;
    }
    .contact-data{
        left: 50%;
    }
    .form-box{
        height: 60vh;
        border-bottom-right-radius: 0px;
    }
    .form-field{
        width: 90%;
    }
    .text-area{
        width: 90%;
    }

}

