.image-box{
    height: 79vh;
    position:relative;
    background-color: #161b1b;
    border-bottom-left-radius: 10px;
}
@media (max-width:990px) {
    .image-box{
        height: 60vh;
    }
}
.contact-data{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
}
.data{
    margin-top: 1em;
}
.form-box{
    height: 79vh;
    background-color: #161b1b;
    border-bottom-right-radius: 10px;
}
.form{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
.form-field {
    margin-top: 0.9em;
    height: 3em;
    border-radius: 10px;
    border: none;
    background-color: white;
    /* font-size: 15px; */
    color: black;
}
.text-area{
    margin-top: 0.9em;
    height: 7em;
    border-radius: 10px;
    border: none;
    background-color:white;
    /* font-size: 15px; */
    color: black;
}
.contact-btn{
    margin-top: 1em;
    background-color: white;
    width: 100px;
    color: black;
    border-radius: 5px;
    height: 2em;
    border: none;
}
.contact-btn:hover{
    background-color: rgb(61, 238, 61);
    transition: 0.5s;
}

