
.nav--link:hover{
    background-color:blue;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.column1{
    height: 31em;
}
@media (max-width:994px) {
    .column1{
        height: 25em;
    }
}

.column2{
    background-color: white;
    height: 31em;

}

.data{
    margin-top: 2em;
    text-align: justify;
}

.img-parent{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
@media (min-width:994px) {
    .img{
        margin-top: 1em;
    }
}

.img{
    width: 300px;
    border-radius: 50%;
    height: 300px;
    margin-top: 3em;
    box-shadow: 5px 5px 15px silver;
}
@media (max-width:350px) {
    .img{
        width: 250px;
        height: 250px;
    }
    .column1{
        height: 20em;
    }
}

.btn{
    background-color: black;
    color: white;
    margin-bottom: 1em;
}
.btn:hover{
    background-color: rgb(72, 168, 247);
    color: white;
    transition: 0.4s;
}
