.intro{
    border-radius: 5px;
    box-shadow: 2px 2px 4px silver;
}
.inner-box{
    background-color: whitesmoke;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px silver;
    
}
.column1{
    height: 31em;
}

.column2{
    background-color: whitesmoke;
    height: 31em;

}

.data{
    margin-top: 2em;
}

.img-parent{
    position: relative;
}
.img{
    width: 350px;
    border-radius: 50%;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 4px silver;
}
@media (max-width:350px) {
    .img{
        width: 250px;
        height: 250px;
    }
}

@media (max-width:994px){
    .inner-box{
        box-shadow: none;
    }
}